p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: rgb(73, 10, 10);
}
a {
}
a :hover {
    color: brown;
}
body {
    width: 90%;
    /*background-color: beige;*/
    /*background: -webkit-linear-gradient(90deg, rgb(219, 219, 219), rgb(122, 170, 219));
    background: linear-gradient(90deg, rgb(219, 219, 219), rgb(122, 170, 219));
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    padding: 50px 30% 50px 30%;
    

}
header { background-color: yellow;}
blockquote, q {
    width: 50%;
    font-style: italic;
}
q {
    font-size: 160%;
    background-color: rgb(211, 210, 210);
    
    margin: 80px 0 80px 30px;
}
.villagers {
    border-left: 3px solid blue;
}
.farmer {
    border-left: 3px solid firebrick;

}
blockquote {
    background-color: rgb(211, 210, 210);
}
.good {
    color: green;
    text-transform: uppercase;
}
.bad {
    color: red;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: gray;
}/*
#bien {
    background-image: url("img/bien.png");
    padding: 35px 10px 15px;
    background-position: 22%;
    width: 20px;
    height: 20px;

}
#mal { 
    background-image: url("img/mal.png");
    padding: 35px 10px 15px;
    background-position: 22%;
    width: 20px;
    height: 20px;
}
#chat {
    background-image: url("img/chat.png");
    padding: 35px 10px 15px;
    background-position: 22%;
    width: 20px;
    height: 20px;
}*/
